.mobile-bottom-nav {
  height: 60px;
  background: linear-gradient(180deg, #0b132b, #0a1a33);
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 50;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}



html,
body {
  scroll-behavior: smooth;
}


@media (max-width: 767px) {
  .Toastify__toast-container {
    display: none !important;
  }
}
/* Industry standard: hide scroll and prevent "jump" */
.no-scroll {
  overflow: hidden !important;
  height: 100vh;
}
html {
  scrollbar-gutter: stable;
}

